@page
@model DoAnWeb.Pages.LoginPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhạc cụ Thành Đạt</title>
    <link rel="stylesheet" href="~/css/LoginPage2.css">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="~/HomePage" type="text/html" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="~/HomePage">Nhạc cụ Đạt<b style="color: red;">P</b></a></div>
            <div class="search_box">
                <input type="search" placeholder="Tìm kiếm">
                <span class="fa fa-search"></span>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <ion-icon name="list-outline"></ion-icon>
                        Doanh mục sản phẩm
                    </a>
                    <ul class="dropdown">
                        <li><a href="Piano">Đàn Piano</a></li>
                        <li><a href="Guitar">Đàn Guitar</a></li>
                        <li><a href="Trong">Trống</a></li>
                    </ul>
                </li>
                <li>
                    <a href="Cart">
                        <ion-icon name="cart-outline"></ion-icon>
                        Giỏ hàng
                    </a>
                </li>
                <li><a href="~/RegisterPage">Đăng ký</a></li>
                <li><a href="#">Đăng nhập</a></li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
        <div class="form-login">
            <h3>Đăng nhập</h3>
            <form method="post" >
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="text" asp-for="credential.UserName" required>
                    <label asp-for="credential.UserName">Tên đăng nhập</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" asp-for="credential.Password" required>
                    <label asp-for="credential.Password">Mật khẩu</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Quên mật khẩu </a>
                </div>
                <button type="submit" class="btn" id="btn-DN">Đăng nhập</button>
                <div class="login-register">
                    <p>Bạn chưa có tài khoản?<a href="~/RegisterPage" class="register-link">Đăng ký</a></p>
                </div>
            </form>
        </div>

    </div>


</body>
</html>